@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  /* background: #ffeeee;
  color: #242424; */
}

body {
  margin: .5em;
  padding: .5em;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h4 {
  padding: .2em;
  margin: .2em;
  line-height: .2;
}

h3 {
  margin: .2em 0;
}

p {
  padding-top: .2em;
  margin-top: .2em;
}

a {
  text-decoration: none;
  padding: .3em;
  margin: .5em;
  line-height: .2;
}

a:hover {
  color: #ff0000;
}

span {
  display: block;
}

ul > li {
  margin-bottom: .1em;
  padding-bottom: .1em;
}

@media (max-width: 600px) {
  body {
    margin: .5em;
    padding: .5em;
  }
}